.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 10vw;
    box-shadow: 0 0 2px 0 rgba(60,64,67,.3);
    box-sizing: border-box;
}

.logo {
    margin: 0 8px;
}

.search-form {
    display: flex;
    background-color: #f9f9f9;
    border: 1px solid #cccccc;
    border-radius: 2px;
    margin: 0 16px;
    min-width: 250px;
    width: 30%;
}

.search-form button {
    background-color: #E9E9E9;
}

.search-form:focus-within {
    box-shadow: 0 0 2px 0 rgba(46, 175, 100, 0.7);
    background-color: white;
}

.search-field {
    flex-grow: 1;
    background-color: transparent;
    margin-left: 8px;
    border: none;
    outline: none;
}

.nav-menu {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-right: 8px;
}

.open-search-btn {
    display: none;
}

.btn {
    margin: 0 16px;
}

@media screen and (max-width: 600px) {

    .mobile-search-form{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 48px;
        border-bottom: 1px solid #20a5da;
    }
    
    .mobile-search-field {
        background-color: #ffffff;
        border: none;
        outline: none;
        flex-grow: 1;
        font-size: 16px;
        color: var(--text-color1);
    }

    .navbar {
        max-height: 48px;
        padding: 0;
        z-index: 10;
    }

    .remove {
        display: none;
    }

    .nav-menu {
        width: 30%;
        margin: 0;
    }

    .nav-menu .nav-menu-item {
        width: 100%;
    }
    
    .open-search-btn {
        display: unset;
    }
}
