.cart-item {
    display: flex;
    align-items: center;
    padding: 8px;
    margin: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

svg{
    fill: #e0e0e0;
}

.thumbnail a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    background-color: white;
}

.thumbnail a img {
    max-width: 64px;
    max-height: 64px;
}

.item-name {
    margin-left: 16px;
    width: 40%;
}

.item-quantity {
    width: 30%;

}

.sub-total {
    width: 30%;
}

.value {
    display: none;
}

@media screen and (max-width: 350px) {
    .quantity {
        display: none;
    }

    .item-name {
        width: 60%;
        font-size: 0.9em;
    }

    .item-quantity {
        width: 40%;
        margin-right: 8px;
    }

    .sub-total {
        display: none;
    }

    .value {
        display: block;
        width: fit-content;
        background-color: #f9f9f9;
        padding: 4px;
        border-radius: 4px;
        color: #888888;
        font-size: 0.725em;
    }
}
