.product-details {
    margin: 0 auto;
    width: 700px;
    min-height: 60vh;
}

.image-pane{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2px;
    width: 300px;
    height: 60vh;
    box-sizing: border-box;
}

.image-pane img {
    max-width: 300px;
}

.details-pane {
    border-left: 1px solid #eeeeee;
    display: inline-block;
    width: 400px;
    box-sizing: border-box;
    vertical-align: top;
    color: #666666;
}

.tabs {
    display: flex;
}

.tab-item {
    padding: 16px 0;
    width: 33.3%;
    border-bottom: 1px solid #eeeeee;
    box-sizing: border-box;
    text-align: center;
    font-size: .85em;
}

.tab-item.active {
    border-color: #1B3A57;
}

.purchase-tab, .description-tab, .reviews-tab {
    padding: 8px 16px;
}

.product-name {
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 4px;
}

.extra-name {
    font-weight: 500;
    text-transform: capitalize;
}

.extra {
    position: relative;
    display: inline-block;
    font-weight: 500;
    padding: 8px 12px;
    border: 1px solid #dddddd;
    border-radius: 6px;
    margin: 4px 6px 8px 0;
    transition: border-color ease-in 180ms;
}

.extra:hover {
    border-color: #1B3A57;
}

.extra.selected {
    border-color: #1B3A57;
    transition: border-color ease-out 180ms;
}

.checkbox {
    display: inline-block;
    vertical-align: middle;
}

.option {
    text-transform: capitalize;
}

.checkbox svg {
    width: 0;
    height: 0;
    fill: transparent;
    transition: width ease-out 150ms, fill ease-in 150ms;
}

.checkbox.selected svg {
    fill: #1B3A57;
    width: 1.1em;
    height: 1.1em;
    transition: width linear 150ms, fill ease-in 150ms;
}

.quantity {
    font-size: 0.8em;
}

.price {
    font-size: 1.2em;
    font-weight: 600;
}

.btn {
    width: 100%;
    margin-bottom: 4px;
}

.reviews-tab {
    max-height: calc(60vh - 72px);
    overflow: auto;
}

.review {
    margin: 4px 0;
    border-radius: 4px;
    border: 1px solid #eeeeee;
}

.review .message {
    padding: 4px;
}

.review .reviewer {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    font-size: 0.8em;
    font-weight: 600;
    color: #888888;
    background-color: #f9f9f9;
}

.loading {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 716px) {
    .product-details {
        width: unset;
        margin: 0 8px;
        min-height: 80vh;
    }

    .image-pane{
        display: flex;
        width: unset;
        margin: 0;
        height: 300px;
        border-right: none;
    }

    .details-pane {
        display: block;
        width: unset;
        box-sizing: border-box;
    }

    .image-pane img {
        max-height: 300px;
        max-width: unset;
    }

}
