<app-nav-bar></app-nav-bar>

<div class="blur" *ngIf="showChoices">
    <app-customize-order (unblur)="customize($event)" [extras]="product.extras"></app-customize-order>
</div>

<div class="product-details card">

    <div *ngIf="product; else loading">
        <div class="image-pane">
            <img [src]="product.imageurl" [alt]="product.name">
        </div>

        <div [ngSwitch]="activeTab" class="details-pane">
        
            <div class="tabs">
    
                <a [ngClass]="getClasses('purchase')" matRipple (click)="switchTabs('purchase')">Purchase</a>
                <a [ngClass]="getClasses('description')" matRipple (click)="switchTabs('description')">Description</a>
                <a [ngClass]="getClasses('reviews')" matRipple (click)="switchTabs('reviews')">Reviews</a>
    
            </div>
    
            <div *ngSwitchCase="'purchase'" class="purchase-tab">
                <div class="product-name">
                    {{ product.name }}
                    <button *ngIf="product.extras"  class="customize" (click)="customize(null)">customize</button>
                </div>
                <div class="rating">
                    <app-rating-stars [reviews]="productReviews.length" [rating]="getAverageRating(productReviews)"></app-rating-stars>
                </div>
                <br>
                <div class="quantity">
                    Quantity: <app-quantity [qty]="qty" (getValue)="setQuantity($event)"></app-quantity>
                </div>
                <br>
                <div class="price">
                    {{ product.price | kes }}
                </div>
                <br>
                <button class="btn" (click)="addToCart()" mat-button>Add to Cart</button>
                <button class="btn" (click)="orderNow()" mat-button>Order Now</button>
            </div>
    
            <div *ngSwitchCase="'description'" class="description-tab">
                <div *ngIf="product.description">
                    {{product.description}}
                </div>
                <div *ngIf="!product.description">
                   <p>No Description</p>
                </div>
            </div>
    
            <div *ngSwitchCase="'reviews'" class="reviews-tab">

                <div *ngIf="productReviews.length > 0; else noReviews">
                    
                    <div class="review" *ngFor="let review of productReviews">
                        <div class="message">
                            <app-rating-stars [rating]="review.rating"></app-rating-stars>
                            <div>{{review.message}}</div>
                        </div>
                        <div class="reviewer">
                            <div>{{review.userName}}</div>
                            <div>{{review.date.toDate() |date}}</div>
                        </div>
                    </div>

                </div>

                <ng-template #noReviews>
                    <p>No Reviews</p>
                </ng-template>   
    
            </div>
            
        </div>
    
    </div>

    <ng-template #loading>
        <div class="loading">
            <mat-spinner diameter="32"></mat-spinner>
        </div>
    </ng-template>

    
</div>

<app-bottom-nav></app-bottom-nav>
