<app-nav-bar></app-nav-bar>

<div *ngIf="receivedOrder" class="blur">
    <app-review (unblur)="confirmReception(null)" [order]="receivedOrder"></app-review>
</div>

<div *ngIf="cancelledOrder" class="blur">
    <app-confirm-cancel (closePopup)="cancelOrder(null)" [order]="cancelledOrder"></app-confirm-cancel>
</div>

<h5>Placed Orders</h5>

<div class="card orders">

    <div *ngIf="orders$ | async; let orders; else loading">

        <table *ngIf=" orders.length > 0; else noOrders">
            <thead>
                <th class="date">Date</th>
                <th class="item">Item</th>
                <th class="qty">Qty</th>
                <th class="value">Value</th>
                <th class="status">Status</th>
            </thead>

            <tr *ngFor="let order of orders; index as index" [ngClass]="getRowClasses(order.status)">
                <td class="date">{{ order.date.toDate() | date }}.</td>
                <td class="item">
                    {{ order.product.name }}
                    <div class="enclosed">
                        {{ order.product.price }} X {{order.quantity}} = {{order.value | kes}}
                    </div>
                </td>
                <td class="qty">{{ order.quantity }}</td>
                <td class="value">{{ order.value | kes }}</td>
                <td [ngSwitch]="order.status" class="status">

                    <div *ngSwitchCase="'new'">
                        awaiting confirmation
                        <button class="cancel" (click)="cancelOrder(order)">Cancel Order</button>
                    </div>

                    <div *ngSwitchCase="'accepted'">
                        delivery ongoing
                        <button class="btn" (click)="confirmReception(order.orderId)">Confirm Reception</button>
                    </div>

                    <div *ngSwitchDefault>{{order.status}}</div>
                </td>
            </tr>
        </table>
        
        <ng-template #noOrders>
            <div class="no-items">
                You have no pending orders
            </div>
        </ng-template>

    </div>

    
    <ng-template #loading>
        <div class="no-items">
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>

</div>

<app-bottom-nav></app-bottom-nav>
