.card {
    width: 350px;
    margin: 64px auto;
}

app-cr-form-field {
    display: block;
}

@media screen and (max-width:370px) {
    .card {
        width: unset;
        margin: 64px 8px;
    }
}
