<app-nav-bar></app-nav-bar>

<!-- create a grid of all categories -->
<div class="grid">
    <div class="grid-row" >
        <a class="card grid-box"   [routerLink]="['/categories/category', category.name]" *ngFor="let category of categories | async">
            <div class="category">
                <div class="cat-image">
                    <img [src]="category.imageurl" [alt]="category.name">
                </div>
                <div class="cat-name">{{ category.name }}</div>
            </div>
        </a>
    </div>
    
</div>

<app-bottom-nav></app-bottom-nav>
