<app-nav-bar></app-nav-bar>

<div class="cart card">

    <div class="empty" *ngIf="cartService.size() < 1">
        <div>
            Your cart is empty
        </div> 
    </div>

    <div *ngIf="cartService.size() > 0">

        <div class="card-header">
            <h4>Cart</h4>
        </div>

        <div *ngFor="let cartItem of cartService.cart">
            <app-cart-item [item]="cartItem"></app-cart-item>
        </div>

        <div class="card-footer">
                <div class="total">
                    <div>total</div>
                    <div>{{ cartService.getTotalValue() | kes }}</div>
                </div>
                <button class="btn" mat-stroked-button routerLink="/checkout">Checkout</button>
        </div>

    </div>

</div>

<app-bottom-nav></app-bottom-nav>
