.cart {
    width: 600px;
    margin: 0 auto;
}

.empty {
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-header {
    padding: 10px;
    border: none;
}

h4 {
    border: none;
}

.total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-weight: 600;
    color: #919191;
}

@media screen and (max-width: 616px) {
    .cart {
        width: unset;
        margin: 0 8px;
    }
}
