.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
    padding: 12px;
    text-align: center;
}

.product-image {
    width: 132px;
    height: 132px;
}

.product-image img {
    max-width: 132px;
    max-height: 132px;
}

.product-name {
    font-weight: 200;
    margin: 8px 0;
}

.product-price {
    font-weight: 600;
}
