<div class="spacer"></div>

<div class="forgot card">
    <app-logo></app-logo>

    <h4>Forgot password</h4>

    <p>To reset your password, please provide your account's email address below.</p>

    <form (ngSubmit)="requestPasswordReset()" [formGroup]="emailForm">
        <app-cr-form-field appearance="outline">
            <label for="email">Email Address</label>
            <input appCrInput id="email" type="email" autocomplete="email" formControlName="email" required>
        </app-cr-form-field>

        <button class="btn" type="submit" mat-stroked-button>Next</button>
    </form>

</div>
