.forgot {
    width: 300px;
    padding: 12px;
    margin: auto;
    box-sizing: border-box;
}

app-logo {
    text-align: center;
}

.btn-v2 {
    margin-top: 8px;
    width: 100%;
}

h4 {
    text-align: center;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

p {
    font-size: 0.85em;
}

.error {
    color: red;
    font-size: 0.8em;
}

input {
    height: 1.2em;
}

app-cr-form-field {
    display: block;
}

@media screen and (max-width: 316px) {
    .forgot {
        width: unset;
        margin: 0 8px;
    }
}
