<div class="spacer"></div>

<div class="forgot card">

    <app-logo></app-logo>

    <h4>Forgot password</h4>

    <p>To reset your password, please provide your account's email address below.</p>
    
    <div class="error" *ngIf="error">{{ error }}</div>

    <form (ngSubmit)="requestPasswordReset()" [formGroup]="emailForm">
        <app-cr-form-field appearance="outline">
            <label for="email">Email Address</label>
            <input appCrInput id="email" type="email" autocomplete="email" formControlName="email" required>
        </app-cr-form-field>

        <button class="btn-v2" type="submit" mat-stroked-button [disabled]="btnDisabled">Next</button>
    </form>

</div>
