.customize {
    width: 300px;
    margin: 0 auto;
    margin-top: 96px;
}

h5 {
    margin: 0;
    margin-bottom: 4px;
}

.btn {
    margin-left: 8px;
}

.ingredients {
    width: fit-content;
    margin: 0 auto;
}

@media screen and (max-width: 300px) {
    .customize {
        margin: 0 8px;
        width: unset;
        margin-top: 64px;
    }
}
