.grid {
    min-width: 730px;
}

.title {
    color: #919191;
    font-size: 0.85em;
    display: flex;
    align-items: center;
    margin-left: 2px;
}

.title svg {
    fill: #919191;
    margin: 2px;
    margin-top: 0;
    width: 1em;
    height: 1em;
}

@media screen and (max-width: 600px) {
    .grid {
        min-width: unset;
    }
}
